.swal2-container {
    z-index: 1100 !important;
}

button.swal2-cancel {
    margin-left: 10px;
}

.toast-success {
    background: #7367F0 !important
}

.toast-error {
    background: #EA5455 !important
}

#toast-container>.toast {
    background-image: none !important;
}

button.role-edit-modal {
    outline: none;
    border: none;
    background: #fff;
    color: #6161d3;
    padding: 0px
}

button.role-edit-modal:hover {
    color: blue;
}

.flex.justify-between.sm\:hidden {
    display: none;
}

span.relative svg {
    height: 20px;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    height: 250px;
}

.custom-file-input {
    position: relative;
    font-size: 16px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.custom-file-input input {
    display: none;
}

.custom-file-input label {
    background-color: #F1F1F2;
    color: #7367F0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
}

.custom-file-input label::after {
    content: '' !important;
}

.custom-file-input label:hover {
    background-color: #DFDFE3;
}

.custom-file-input input:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.custom-file-input input:valid+label {
    background-color: #2ecc71;
}

.custom-file-input label::after {
    content: 'No file chosen';
    margin-left: 10px;
}

.custom-file-input input:valid+label::after {
    content: 'File selected: ' attr(name);
}

.btn-delete-image {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: red;
}